# Ignore all dotfiles except .gitignore
.*
!.gitignore

bin
db
dist
eclipse
Gemfile
Gemfile.lock
Guardfile
lib
log
logs
modules
out
precompiled
project/project
project/SlickChair.sublime-workspace
project/target
RUNNING_PID
server.pid
target
test-result
tmp
