logs
project/project
project/target
project/SlickChair.sublime-workspace
target
tmp
bin
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.target
/RUNNING_PID
/.settings
.cache
Gemfile.lock
Gemfile
Guardfile
