@(result: Option[String],
  queryForm: Form[(String, controllers.chair.SqlMethod.Value)],
  user: String,
  menu: List[(play.api.mvc.Call, String)]
)(implicit request: play.api.mvc.Request[Any])

@import controllers.chair._
@import helper.bootstrap3._

@main("SQL Form", Some(user), menu) {
  @bootstrap3.form(routes.Sql.runQuery) {
    <legend>Query</legend>
    @bootstrap3.textarea(
      queryForm("query"),
      'placeholder -> "SELECT * FROM LOGIN_USERS",
      '_label -> "PostgreSQL",
      'rows -> 3)
    
    @bootstrap3.inputRadioGroup(
      queryForm("method.m"), 
      SqlMethod.values.toSeq.map(f => f.toString -> f.toString), 
      '_label -> "Query Type")
          
    <div class="ctrl-enter">
      @bootstrap3.button("Run (Ctrl+Enter)")
    </div>
  }
  @result.map { output =>
    <br>
    <br>
    <pre>@output</pre>
  }
}
