@(result: Option[String],
  queryForm: Form[(String, controllers.chair.SqlMethod.Value)],
  navbar: Html
)(implicit request: play.api.mvc.Request[Any])

@import controllers.chair._
@import bootstrap3._
@import helper.FieldConstructors.horizontalForm

@main("SQL Form", navbar) {
  @form(routes.Sql.doQuery) {
    <legend>Query</legend>
    @textarea(
      queryForm("query"),
      'placeholder -> "SELECT * FROM LOGIN_USERS",
      '_label -> "PostgreSQL",
      'rows -> 3)
    
    @inputRadioGroup(
      queryForm("method.m"), 
      SqlMethod.values.toSeq.map(f => f.toString -> f.toString), 
      '_label -> "Query Type")
          
    <div class="ctrl-enter">
      @button(queryForm(""), "Run (Ctrl+Enter)")
    </div>
  }
  @result.map { output =>
    <br>
    <br>
    <pre>@output</pre>
  }
}
