@(bidForm: Form[controllers.BidForm],
  papers: Set[models.Paper],
  files: Set[models.File],
  navbar: Html
)

@import controllers.FileServing.linkToFile
@import bootstrap3._
@import models.BidValue._
@import controllers.Utils.shorten
@import helper.FieldConstructors.table

@main("Paper Bidding", navbar) {

  @helper.form(routes.Reviewing.dobid) {    
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Bid</th>
          <th>Title</th>
          <th>File</th>
        </tr>
      </thead>
      <tbody>
        @bidForm.get.bids.zipWithIndex.map { case (bid, index) =>
          <tr>
            <td style="min-width: 90px;">
              @bootstrap3.select(
                bidForm(s"bids[$index].bid.value"),
                BidValue.values.toSeq.map { b => b.toString -> (b match {
                  case Conflict => "Conflict"
                  case NoBid => "Low"
                  case Maybe => "-"
                  case YesBid => "High"
                })},
                '_label -> "")
            </td>
            <td class="hidden">
              <input type="text" name="bids[@index].paperid.value" value="@bid.paperid.value">
            </td>
            @*<td>
              <div title="@bid.paperid.value">@shorten(bid.paperid.value)<div>
            </td>*@
            @papers.find(_.id == bid.paperid).map { paper =>
              <td>
                @paper.title
              </td>
              <td>
                @paper.fileid match {
                  case Some(fileid) => {
                    @files.find(_.id == fileid).map(linkToFile)
                  }
                  case None => { - }
                }
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
    @button(bidForm(""), "Save")
  }
}
