@*(isEdit: Boolean,
  paper: models.Paper,
  authors: List[models.Author],
  reviews: List[(models.Review,
  models.Member)],
  comments: List[(models.Comment,
  models.Member)], commentForm: Form[models.Comment]
)

@import helper._
@import controllers.member.routes

@main(paper.title) {
  @paper
  <br>

  <h1>Reviews:</h1>
  @for((review, member) <- reviews) {
    @review
    by @member
    <br><br>
  }
  @form(routes.Reviewing.form(paper.id)) {
    <input type="submit" value="@if(isEdit) {Edit my} else {Write a} review">
  }

  <h1>Comments:</h1>
  @for((comment, member) <- comments) {
    @comment
    by @member
    <br><br>
  }
  
  @form(routes.Reviewing.comment(paper.id)) {
    @textarea(
      commentForm("content"),
      '_label -> "",
      '_help -> "",
      'rows -> 5,
      'cols -> 30)
    <input type="submit" id="submit" value="Add comment">
  }
}
*@
