@(papers: List[Paper],
  indices: List[PaperIndex],
  assignments: List[Assignment],
  navbar: Html
)(implicit request: RequestHeader)

@import helper.FieldConstructors.empty

@main("Assignment", navbar) {
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Assigned</th>
      </tr>
    </thead>
    <tbody>
      @indices.zipWithIndex.map { case (PaperIndex(paperId, _), index) => 
        @papers.find(_.id == paperId).map { paper =>
          <tr>
            <td>@{ index + 1 }</td>
            <td><a href="@routes.Chairing.assign(paperId)">@paper.title</a></td>
            <td>@assignments.filter(_.paperId == paperId).filter(_.value).length</td>
          </tr>
        }
      }
    </tbody>
  </table>
}
