@(paperId: Id[Paper],
  index: Int,
  staff: List[Person],
  assignmentForm: Form[AssignmentForm],
  bids: List[Bid],
  assignments: List[Assignment],
  navbar: Html
)(summary: Html)(implicit request: RequestHeader)

@import helper.FieldConstructors.empty
@import BidValue._

@main("Submission " + index, navbar) {
  @summary
  <hr>
  @helper.form(routes.Chairing.doAssign(paperId)) {    
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Bid</th>
          <th>Assigned</th>
          <th>Assign</th>
        </tr>
      </thead>
      <tbody>
        @assignmentForm.get.assignments.zipWithIndex.map { case (assignment, index) =>
          @staff.find(_.id == assignment.personId).map { person =>
            @bids.find(_.personId == person.id).map { b =>
            <tr
              @b.value match {
                case Conflict => { class="danger" }
                case NoBid => { class="warning" }
                case Maybe => {}
                case YesBid => { class="success" }
              }
            >
              <td>@person.name</td>
              <td>
                @b.value match {
                  case Conflict => { Conflict }
                  case NoBid => { No }
                  case Maybe => { Maybe }
                  case YesBid => { Yes }
                }
              </td>
              <td>@assignments.filter(_.personId == person.id).filter(_.value).length</td>
              <td>@checkbox(assignmentForm(s"assignments[$index].value"))</td>
              <td class="hidden">
                <input type="text" name="assignments[@index].personId.value" value="@b.personId.value">
              </td>
            </tr>
            }
          }
        }
      </tbody>
    </table>
    @button("Save")
  }
}
