@(bidForm: Form[BidForm],
  papers: Set[Paper],
  files: Set[File],
  navbar: Html
)(implicit flash: Flash)

@import FileServing.linkToFile
@import BidValue._
@import helper.FieldConstructors.empty

@main("Bidding", navbar) {
  @helper.form(routes.Reviewing.doBid) {    
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Bid</th>
          <th>Title</th>
          <th>File</th>
        </tr>
      </thead>
      <tbody>
        @bidForm.get.bids.zipWithIndex.map { case (bid, index) =>
          <tr
            @bid.value match {
              case Conflict => { class="danger" }
              case NoBid => { class="warning" }
              case Maybe => {}
              case YesBid => { class="success" }
            }
          >
            <td style="min-width: 90px;">
              @select(
                bidForm(s"bids[$index].bid.value"),
                BidValue.values.toSeq.map { b => b.toString -> (b match {
                  case Conflict => "Conflict"
                  case NoBid => "No"
                  case Maybe => "Maybe"
                  case YesBid => "Yes"
                })})
            </td>
            <td class="hidden">
              <input type="text" name="bids[@index].paperId.value" value="@bid.paperId.value">
            </td>
            @papers.find(_.id == bid.paperId).map { paper =>
              @*<td>
                <div title="@bid.paperId.value">@indices.find(_.paperId == paper.id).get.value<div>
              </td>*@
              @if(bidForm.get.bids.find(bid => bid.paperId == paper.id && bid.value == Conflict)) {
                <td>@paper.title</td><td>-</td>
              } else {
                <td>
                  <a href="@routes.Reviewing.review(bid.paperId)">
                    @paper.title
                  </a>
                </td>
                <td>
                  @paper.fileId match {
                    case Some(fileId) => {
                      @files.find(_.id == fileId).map(linkToFile)
                    }
                    case None => { - }
                  }
                </td>
              }
            }
          </tr>
        }
      </tbody>
    </table>
    <div style="margin-left:5px;">@button("Save")</div>
  }
}
