@(title: String,
  commentReviews: List[Either[Comment, Review]],
  persons: Set[Person],
  canEdit: Review => Boolean,
  doCommentEP: Call,
  navbar: Html
)(summary: Html)(implicit request: RequestHeader)

@import helper.FieldConstructors.empty
@import Confidence._ 
@import Evaluation._
@import eu.henkelmann.actuarius.ActuariusTransformer
@import org.joda.time.DateTime

@digit(at: DateTime) = {@at.toString().filter(_.isDigit)}

@main(title, navbar) {
  @summary
  <hr>
  @commentReviews.map { commentReview =>
    @commentReview match {
      case Left(Comment(_, personId, content, (_, at, _))) => {
        @persons.find(_.id == personId).map { person =>
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-lg-2 control-label markdown-label">
                <b>@person.name</b><br>@date(at)
              </label>
              <div class="col-lg-9">
                <div class="well well-sm">
                  @Html(new ActuariusTransformer()(content))
                </div>
              </div>
            </div>
          </form>
        }
      }
      case Right(r @ Review(paperId, personId, confidence, evaluation, content, (reviewId, at, _))) => {
        @persons.find(_.id == personId).map { person =>
          @form(routes.Reviewing.editReview(paperId, personId)) {
            <div class="form-group">
              <label class="col-lg-2 control-label markdown-label">
                <b>@person.name</b><br>@date(at)
              </label>
              <div class="col-lg-9">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <b>
                      Review
                      @if(commentReviews.flatMap(_.fold(_ => Nil, List(_))).filter(_.id == reviewId).filter(_.updatedAt isAfter at).nonEmpty) { (subsumed) }
                    </b>
                    &emsp;
                    Evaluation: @evaluation.toString.replace("_", " ")&emsp;
                    Confidence: @confidence.toString.replace("_", " ")
                    @if(canEdit(r)) {
                      <div class="pull-right edit">
                        <a href="#" class="glyphicon glyphicon-pencil toggle-edit" toggle="@digit(at)" title="Edit review"></a>
                      </div>
                    }
                  </div>
                  
                  @if(canEdit(r)) {
                    <div class="panel-body toggle@digit(at) hidden">
                      @textarea(Reviewing.reviewForm("content").copy(value=Some(content)), 'rows -> 3)
                      @inputRadioGroup(
                        Reviewing.reviewForm("evaluation.value").copy(value=Some(evaluation.toString)),
                        Evaluation.values.toSeq.map(f => f.toString -> f.toString.replace("_", " ")))
                      <br>
                      @inputRadioGroup(
                        Reviewing.reviewForm("confidence.value").copy(value=Some(confidence.toString)),
                        Confidence.values.toSeq.map(f => f.toString -> f.toString.replace("_", " ")), 
                        '_label -> "Confidence")
                      <br>
                      <button href="#" class="btn btn-default toggle-edit" toggle="@digit(at)">Cancel</button>
                      <button type="submit" class="btn btn-default">Update Review</button>
                    </div>
                  }
                  
                  <div class="panel-body toggle@digit(at)">
                    @Html(new ActuariusTransformer()(content))
                  </div>
                </div>
              </div>
            </div>
          }
        }
      }
    }
  }
  <hr>
  @form(doCommentEP) {
   <div class="form-group">
      <label for="content" class="col-lg-2 control-label">Comment</label>
      <div class="col-lg-9">
        @textarea(
          Reviewing.commentForm("content"),
          'placeholder -> "Leave a comment",
          'rows -> 3)
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-2"></div>
      <div class="col-lg-9">
        @button("Submit")
      </div>
    </div>
  }
}
