@(signUpForm:Form[securesocial.controllers.Registration.RegistrationInfo],
  token: String
)(implicit request: RequestHeader, lang: Lang)

@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import helper.FieldConstructors.horizontalForm
@import bootstrap3._

@main("Sign up", Navbar.empty) {
  <div style="height:27px;"></div>
  @form(securesocial.core.providers.utils.RoutesHelper.handleSignUp(token)) {
    <fieldset>
      @inputText(
        signUpForm("firstName"),
        '_label -> Messages("securesocial.signup.firstName"))
      @inputText(
        signUpForm("lastName"),
        '_label -> Messages("securesocial.signup.lastName"))
      @inputText(
        signUpForm("password.password1"),
        '_label -> Messages("securesocial.signup.password1"),
        'type -> "password")
      @inputText(
        signUpForm("password.password2"),
        '_label -> Messages("securesocial.signup.password2"),
        '_error -> signUpForm.error("password.password1"),
        'type -> "password")
      @button(Messages("securesocial.signup.createAccount"))
    </fieldset>
  }
}
