@(signUpForm:Form[securesocial.controllers.Registration.RegistrationInfo],
  token: String
)(implicit flash: Flash)

@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import helper.FieldConstructors.horizontalForm
@import bootstrap3._

@main("Sign up", Navbar.empty) {
  <div style="height:27px;"></div>
  @form(securesocial.core.providers.utils.RoutesHelper.handleSignUp(token)) {
    <fieldset>
      @inputText(
        signUpForm("firstName"),
        '_label -> "First Name")
      @inputText(
        signUpForm("lastName"),
        '_label -> "Last Name")
      @inputText(
        signUpForm("password.password1"),
        '_label -> "Password",
        'placeholder -> "Password, 8 characters minimum",
        'type -> "password")
      @inputText(
        signUpForm("password.password2"),
        '_label -> "Password confirmation",
        '_error -> signUpForm.error("password.password1"),
        'type -> "password")
      @button("Create Account")
    </fieldset>
  }
}
