@(message: Option[String],
  emailForm: Form[models.utils.Email],
  recipientsCategories: List[(String, String)] =
      models.entities.Papers.relevantCategories ::: models.entities.Members.relevantCategories,
  templates: List[models.utils.Template] =
      models.utils.Templates.all
)

@import helper._
@import controllers.chair._

@main("Email") {
  <h1>Email</h1>
  @message.map { m => 
    <h2>@m</h2>
  }
  <select id="recipientSelect">
    <option>-- Receivers --</option>
    @for((name, index) <- recipientsCategories.map(_._1).zipWithIndex) {
      <option>@name</option>
    }
  </select>
  <select id="templateSelect">
    <option>-- Templates --</option>
    @for((name, index) <- templates.map(_.name).zipWithIndex) {
      <option>@name</option>
    }
  </select>
  <br>
  From: @Emailing.fromAddress
  @form(action = routes.Emailing.send) {
    @textarea(
      emailForm("to"),
      'placeholder -> "Comma separated emails",
      '_label -> "To:",
      '_help -> "",
      'rows -> 2,
      'cols -> 50)
    
    @inputText(
      emailForm("subject"),
      '_label -> "Subject:",
      '_help -> "")
    
    @textarea(
      emailForm("body"),
      'placeholder -> "Dear @fullname,",
      '_label -> "Body:",
      '_help -> "",
      'rows -> 10,
      'cols -> 50)

    <input type="submit" id="submit" value="Send">
  }
  <script>
    var recipients = new Array();
    @for((emails, index) <- recipientsCategories.map(_._2).zipWithIndex) {
      recipients[@index] = "@emails.toString";
    }
    var subjects = new Array();
    var bodies = new Array();
    @for((template, index) <- templates.zipWithIndex) {
      subjects[@index] = "@template.subject.replaceAll("\n", "\\\\\n")";
      bodies[@index] = "@template.body.replaceAll("\n", "\\\\\n")";
    }
    document.getElementById("recipientSelect").onchange = function() {
      if(this.selectedIndex !== 0) {
        changeTextareaValueById("to", recipients[this.selectedIndex - 1]);
      }
    }
    
    document.getElementById("templateSelect").onchange = function() {
      if(this.selectedIndex !== 0) {
        changeTextareaValueById("subject", subjects[this.selectedIndex - 1]);
        changeTextareaValueById("body", bodies[this.selectedIndex - 1]);
      }
    }
    
    @**
     * While a textarea content could be changed in one line with something
     * like `document.getElementById(id).value = text;` this complex process
     * preserves the undo stack of the browser.
     *@
    var changeTextareaValueById = function(id, text) {
      var element = document.getElementById(id);
      var event = document.createEvent("TextEvent");
      element.focus();
      element.select();
      event.initTextEvent("textInput", true, true, null, text);
      element.dispatchEvent(event);
    }
    
    document.getElementById("submit").addEventListener("click",
      function(e) {
        var confirmed = confirm("You are about to send "
          + document.getElementById("to").value.split(",").length
          + " emails.\nDo you want continue?")
        if (!confirmed) {
          e.preventDefault();
        }
      }, false);
  </script>
}