@(loginWrapperForm: Form[LoginWrapperForm])(implicit flash: Flash)

@import helper.FieldConstructors.horizontalForm
@import bootstrap3._
@import play.api.Play.current
@import play.api.Play.configuration

@main("Login to " + configuration.getString("application.name").get, Navbar.empty) {
  <div class="row">
    <div class="login col-md-10 col-md-offset-1">
      <a class="facebook" href="@securesocial.controllers.routes.ProviderController.authenticate("facebook")">Facebook</a>
      <a class="google" href="@securesocial.controllers.routes.ProviderController.authenticate("google")">Google</a>
      <a class="email" href="#">Email</a>
    </div>
  </div>
  
  <div class="email-form hidden">
    @form(routes.LoginWrapper.dispatch) {
      <fieldset>
        @inputText(
          loginWrapperForm("username"),
          '_label -> "Email")
        @inputText(
          loginWrapperForm("password"),
          '_label -> "Password",
          'type -> "password")
        @checkbox(
          loginWrapperForm("create"),
          '_label -> "Create",
          '_text -> "Create a new password (sign up or reset)",
          'value -> true)
        @button("Submit")
      </fieldset>
    }
  </div>

  <div class="row">
    <div class="note col-md-10 col-md-offset-1">
      Login with Facebook/Google allows to skip email validation. Make sure you have access to the associated email addresses as it will be used to send notifications.
      <br>
      <br>
      Report any issue to <a href="mailto:olivier.blanvillain@@gmail.com">olivier.blanvillain@@gmail.com</a>.
    </div>
  </div>
}
