@(title: String,
  navbar: Html = Navbar.empty,
  modal: Html = Html("")
)(content: Html)

@minified = @{ if (play.Play.isProd()) ".min" else "" }
@modalOpened = @{ !modal.toString.isEmpty }

<!DOCTYPE html>
<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@title</title>
  <link rel="stylesheet" href="@routes.Assets.at("vendor/stylesheet/bootstrap.css")">
  <link rel="stylesheet" href="@routes.Assets.at("vendor/stylesheet/bootstrap-theme.css")">
  <link rel="stylesheet" href="@routes.Assets.at("stylesheet/main.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("image/favicon.png")">
  <style type="text/css">
    body {
      @* Made by http://www.domainsinfo.org/, found on http://subtlepatterns.com/. *@
      background-image: url('@routes.Assets.at("image/wavegrid.png")');
    }
  </style>
</head>
<body @if(modalOpened) { class="modal-open" }>
  <nav>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        @navbar
      </div>
    </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="content">
      <div class="page-header">
        <h1>@title<small></small></h1>
      </div>
      @modal
      @content
      <br><br>
    </div>
    <footer>
      <br><br><br>
  </footer>
  </div>
  <script src="@routes.Assets.at("vendor/javascript/jquery.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("vendor/javascript/bootstrap.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascript/main.js")" type="text/javascript"></script>
@if(modalOpened) { <div class="modal-backdrop fade in"></div> }
</body>
</html>
