@(user: Option[Person],
  userPersonRole: Option[Role.Role],
  currentPersonRole: Role.Role,
  menu: List[(Call, String)],
  uri: String
)

@import securesocial.core.providers.utils.RoutesHelper
@import models.Role._
@import play.api.Play.current
@import play.api.Play.configuration

@idSize = @{ newMetadata._1.value.toString.size }
@changePersonRole(to: Role) = {
  @to match {
    case Chair => { @routes.Chairing.submissions }
    case PC_Member => { @routes.Reviewing.submissions }
    case Author => { @routes.Submitting.submit }
  }
}

<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a href="@configuration.getString("conferenceUrl").get" class="navbar-brand">@configuration.getString("application.shortName").get</a>
</div>

<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    @menu.map { case (url, text) =>
      <li @if(uri.takeRight(idSize) equals url.toString.takeRight(idSize)) { class="active" }><a href="@url">@text</a></li>
    }
  </ul>
  
@(user, userPersonRole, currentPersonRole) match {
  case (Some(Person(_, _, _, email, _)), Some(Author), Author) => {
    <p class="navbar-text pull-right">
      @email — <a href="@RoutesHelper.logout()" class="navbar-link">Sign out</a>
    </p>
  }
  case (Some(Person(_, _, _, email, _)), Some(role), _) => {
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@email (@currentPersonRole.toString.replace("_", " ")) <b class="caret"></b></a>
        <ul class="dropdown-menu">
          @List(Chair, PC_Member, Author).dropWhile(_ != role).map { role =>
            @if(role == currentPersonRole) {
              @* <li><a class="disabeled">Change role to @toString(role)</a></li> *@
            } else {
              <li><a href="@changePersonRole(role)">Change role to @role.toString.replace("_", " ")</a></li>
            }
          }
          <li class="divider"></li>
          <li><a href="@RoutesHelper.logout()">Sign out</a></li>
        </ul>
      </li>
    </ul>
  }
  case _ => {}
}
