@(currentConf: Configuration,
  optionalTransitionGuard: Option[String],
  emailForm: Form[Email],
  emailForm2: Form[Email],
  jumpToPhaseForm: Form[JumpToPhaseForm],
  confs: List[Configuration],
  navbar: Html
)(implicit flash: Flash)

@import helper.FieldConstructors.horizontalForm

@toli(conf: Configuration, status: String) = {
  <li class="phase-@status" title="@{
    conf match {
      case Configuration(_, chairCanChangeRoles, chairCanAssignSubmissions, chairCanDecideOnAcceptance, chairCanRunSqlQueries, pcmemberCanBid, pcmemberCanReview, pcmemberCanComment, authorCanMakeNewSubmissions, authorCanEditSubmissions, authorCanSeeReviews, showListOfAcceptedPapers, _) =>
        List(
          (chairCanChangeRoles, "Chair can change roles"),
          (chairCanAssignSubmissions, "Chair can assign submissions"),
          (chairCanDecideOnAcceptance, "Chair can decide on acceptance"),
          (chairCanRunSqlQueries, "Chair can run sql queries"),
          (pcmemberCanBid, "PC Member can bid"),
          (pcmemberCanReview, "PC Member can review"),
          (pcmemberCanComment, "PC Member can comment"),
          (authorCanMakeNewSubmissions, "Author can make new submissions"),
          (authorCanEditSubmissions, "Author can edit submissions"),
          (authorCanSeeReviews, "Author can see reviews"),
          (showListOfAcceptedPapers, "Show list of accepted paper")
        ).filter(_._1).map(_._2).mkString("\n")
    }
  } ">@conf.name
  @* No, the closing li is not mandatory, http://www.w3.org/TR/REC-html40/index/elements.html *@
}


@main("Phases", navbar) {
  <ol class="phase" data-phase-steps="@confs.length">
    @confs.takeWhile(_.name != currentConf.name).map(toli(_, "done"))
    @confs.dropWhile(_.name != currentConf.name) match {
      case x :: xs => {
        @toli(x, "wip")
        @xs.map(toli(_, "todo"))
      }
      case Nil => {}
    }
  </ol>
  
  <br>
  <br>
  <div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-default toggle-left">Move to next phase</a>
    <a href="#" class="btn btn-default toggle-right">Jump to phase</a>
  </div>
  <br>
  
  <div class="right hidden">
    <br>
    @form(routes.Chairing.jumpToPhase) {
      @select(
        jumpToPhaseForm("configurationName"),
        confs map (c => c.name -> c.name),
        '_label -> "Phase:")
      @dummy() {
        <button href="#" class="btn btn-default toggle-right">Cancel</button>
        <button type="submit" class="btn btn-default button-danger">Jump to phase</button>
      }
    }
  </div>
  
  <div class="left hidden">
    <br>
    
    @form(routes.Chairing.doPhases) {
      @optionalTransitionGuard.map { guard =>
        @dummy() {
          <div class="alert alert-warning"><b>Warning!</b> @guard</div>
        }
      }
      @confs.dropWhile(_.name != currentConf.name) match {
        case _ :: nextConf :: _ => {
          @textarea(emailForm("to"), 'placeholder -> "Comma separated emails:", '_label -> "To:", 'rows -> 2)
          @inputText(emailForm("subject"), '_label -> "Subject:")
          @textarea(emailForm("content"), '_label -> "Body:", 'rows -> 10)
          @if(emailForm2.value.nonEmpty) {
            <hr>
            @textarea(emailForm2("to2"), 'placeholder -> "Comma separated emails:", '_label -> "To:", 'rows -> 2)
            @inputText(emailForm2("subject2"), '_label -> "Subject:")
            @textarea(emailForm2("content2"), '_label -> "Body:", 'rows -> 10)
          }
          @dummy() {
            <button href="#" class="btn btn-default toggle-left">Cancel</button>
            <button type="submit" class="btn btn-default button-danger" onclick="return confirm('Are you sure?');" @*if(optionalTransitionGuard.nonEmpty) { disabled }*@>Send & Move to @nextConf.name phase</button>
          }
        }
        case _ => {}
      }
    }
  </div>
}
