@(resetForm:Form[(String, String)],
  token: String
)(implicit flash: Flash)

@import securesocial.core.IdentityProvider
@import helper.FieldConstructors.horizontalForm
@import bootstrap3._

@main("Reset password", Navbar.empty) {
  <div style="height:27px;"></div>
  @form(securesocial.core.providers.utils.RoutesHelper.handleResetPassword(token)) {
    <fieldset>
      @inputText(
        resetForm("password.password1"),
        '_label -> Messages("securesocial.signup.password1"),
        'placeholder -> "Password, 8 characters minimum",
        'type -> "password")
      @inputText(
        resetForm("password.password2"),
        '_label -> Messages("securesocial.signup.password2"),
        '_error -> resetForm.error("password.password1"),
        'type -> "password")
      @button(Messages("securesocial.password.reset"))
    </fieldset>
  }
}

