@(title: String,
  reviewForm: Form[Review],
  paper: Paper,
  navbar: Html
)(summary: Html)

@import helper.FieldConstructors.horizontalForm
@import Confidence._ 
@import Evaluation._

@main(title, navbar) {
  @summary

  <hr>
  @form(routes.Reviewing.doReview(paper.id)) {
    @textarea(
      reviewForm("content"),
      '_label -> "Review",
      'placeholder -> "Leave a review",
      'rows -> 3)

    @inputRadioGroup(
      reviewForm("evaluation.value"),
      Evaluation.values.toSeq.map(f => f.toString -> f.toString.replace("_", " ")), 
      '_label -> "Evaluation")

    @inputRadioGroup(
      reviewForm("confidence.value"),
      Confidence.values.toSeq.map(f => f.toString -> f.toString.replace("_", " ")), 
      '_label -> "Confidence")  

    <div class="ctrl-enter">
      @button("Submit")
    </div>
  }
  @* <div class="well well-sm">Look, I'm in a well!</div> *@
}
