@(personRolesForm: Form[RolesForm],
  persons: Set[Person],
  navbar: Html
)

@import helper.FieldConstructors.empty
@import Role._

@main("Roles", navbar) {
  @helper.form(routes.Chairing.doRoles) {
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Assigned</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        @personRolesForm.get.roles.zipWithIndex.map { case (role, index) =>
          <tr
            @role.value match {
              case Chair => { class="success" }
              case PC_Member => { class="info" }
              case Author => {}
            }
          >
            @persons.find(_.id == role.personId).map { p =>
              <td>@p.name</td>
              <td>@p.email</td>
            }
            <td>@date(role.updatedAt)</td>
            <td style="min-width: 90px;">
              @select(
                personRolesForm(s"roles[$index].value.value"),
                Role.values.toSeq.map { b => b.toString -> b.toString.replace("_", " ") })
            </td>
            <td class="hidden">
              <input type="text" name="roles[@index].personId.value" value="@role.personId.value">
            </td>
         </tr>
        }
      </tbody>
    </table>
    <div style="margin-left:5px;">@button("Save")</div>
  }
}
