@(result: Option[String], queryForm: Form[(String, controllers.SqlMethod.Value)])

@import helper._

@main("SQL Form") {
    <h1>Query:</h1>
    @form(action = routes.Chair.runQuery) {
      @textarea(
        queryForm("query"),
        'placeholder -> "SELECT * FROM SECURE_SOCIAL_USERS",
        '_label -> "",
        '_help -> "",
        'rows -> 5,
        'cols -> 50)
      
      @inputRadioGroup(
        queryForm("method.m"), 
        controllers.SqlMethod.values.toSeq.map(f => f.toString -> f.toString), 
        '_label -> "",
        '_help -> "")
      
      <input type="submit" value="Run">
    }
    
    @result.map { output =>
      <h1>Results:</h1>
      <pre>@output</pre>
    }
}