@(title: String,
  submissionForm: Form[SubmissionForm],
  topics: List[Topic],
  submissionEndPoint: play.api.mvc.Call,
  navbar: Html
)(modal: Html)

@import helper.FieldConstructors.horizontalForm

@authors = @{(0 to 9)}

@main(title, navbar, modal) {
  @form(
    submissionEndPoint,
    'enctype -> "multipart/form-data") {
  
    <fieldset>
      <legend>General Information</legend>
      @inputText(
        submissionForm("paper.title"),
        '_label -> "Title")
      @inputRadioGroup(
        submissionForm("paper.format.value"), 
        PaperType.values.toSeq map (f => f.toString -> f.toString.replace("_", " ")), 
        '_label -> "Type")
      @inputText(
        submissionForm("paper.keywords"),
        '_label -> "Keywords")
      @textarea(
        submissionForm("paper.abstrct"),
        '_label -> "Abstract",
        'placeholder -> "Abstract",
        'rows -> 5)
      @inputCheckboxGroup(
        submissionForm,
        "topics",
        topics.toSeq map (t => (t.id.value.toString, t.name)),
        '_label -> "Topics")
      @inputFile(
        submissionForm,
        "data",
        '_label -> "File")
      @select(
        submissionForm("paper.nauthors"),
        authors map (i => ((i+1).toString, (i+1).toString)),
        '_label -> "Number of authors",
        '_class -> "hidden")
    </fieldset>
    @authors.map { i =>
      <fieldset @if(i > 0){ class="hidden" } id="author@i">
        <legend>Author @(i+1)</legend>
        @inputText(
          submissionForm(s"authors[$i].firstname"),
          '_label -> "First Name")
        @inputText(
          submissionForm(s"authors[$i].lastname"),
          '_label -> "Last Name")
        @inputText(
          submissionForm(s"authors[$i].organization"), 
          '_label -> "Organization")
        @inputText(
          submissionForm(s"authors[$i].email"),
          '_label -> "Email")
      </fieldset>
    }
    </fieldset>
      @addremove(
        submissionForm(""),
        '_label -> "Add/Remove Authors")
    <fieldset>
    @button(submissionForm(""), "Submit")
  }
}
