@(paperForm: Form[models.entities.Paper])

@import helper._
@import models.entities._

@main("New submission") {
    <h1>New submission</h1>
    @helper.form(action = routes.Submission.make, 'enctype -> "multipart/form-data") {
      @inputText(
        paperForm("title"),
        '_label -> "Paper title:",
        '_help -> "")
      
      @inputRadioGroup(
        paperForm("format"), 
        PaperFormat.values.toSeq.map(f => f.toString -> f.toString), 
        '_label -> "Format:",
        '_help -> "")
      
      @inputText(
        paperForm("keywords"),
        '_label -> "Keywords:",
        '_help -> "")

      @textarea(
        paperForm("abstrct"),
        '_label -> "Abstract:",
        '_help -> "",
        'rows -> 5,
        'cols -> 50)

      PDF:<br>
      <dd><input type="file" name="data"></dd><br>
      <br>
      <input type="submit">
    }
}