@(message: String,
  submissionForm: Form[SubmissionForm],
  topics: List[models.entities.Topic] = models.entities.Topics.all
)

@import helper._
@import models.entities._

@defining(0 to 2) { authors =>
  @main(message) {
    <h1>@message</h1>
    @form(routes.Submitting.make, 'enctype -> "multipart/form-data") {
      <fieldset><legend>Submission</legend>
      @inputText(submissionForm("paper.title"), '_label -> "Paper title:", '_help -> "")
      @inputRadioGroup(
        submissionForm("paper.format.value"), 
        PaperFormat.values.toSeq.map(f => f.toString -> f.toString), 
        '_label -> "Format:",
        '_help -> "")
      @inputText(submissionForm("paper.keywords"), '_label -> "Keywords:", '_help -> "")
      @textarea(
        submissionForm("paper.abstrct"),
        '_label -> "Abstract:",
        '_help -> "",
        'rows -> 5,
        'cols -> 50)
      File:<br><dd><input type="file" name="data"></dd><br>
      </fieldset><br>
      
      <fieldset><legend>Topics</legend>
      @for(Topic(id, name, description) <- topics) {
        @checkbox(
          submissionForm(s"topics[$id]"),
          '_label -> (name + ":").capitalize,
          'value -> id.toString)
      }
      </fieldset><br>

      <fieldset><legend>Authors</legend>
      @select(
        submissionForm("nauthors"),
        authors.map(i => ((i+1).toString, (i+1).toString)),
        '_label -> "Number of authors:",
        '_help -> "")
      @authors.map { i =>
        <fieldset><legend>Author @(i+1)</legend>
        @inputText(submissionForm(s"authors[$i].firstname"), '_label -> "First Name:")
        @inputText(submissionForm(s"authors[$i].lastname"), '_label -> "Last Name:")
        @inputText(submissionForm(s"authors[$i].organization"), '_label -> "Organization:")
        @inputText(submissionForm(s"authors[$i].email"), '_label -> "Email:")
        </fieldset><br>
      }
      </fieldset>

      <br>
      <input type="submit">
    }
  }
}