@(paper: models.Paper,
  authors: List[models.Person],
  topics: List[models.Topic],
  optionalFile: Option[models.File],
  navbar: Html
)(implicit request: play.api.mvc.Request[Any])

@import controllers.Utils.shorten

@main("Submission " + shorten(paper.id.value), navbar) {
  @Html(paper.toString.replaceAll(",", ",\n<br>"))
  <br>
  <h1>Topic(s):</h1>
  @topics.map { v =>
    @Html(v.toString.replaceAll(",", ",\n<br>"))
    <br><br>
  }
  <h1>Author(s):</h1>
  @authors.map { v =>
    @Html(v.toString.replaceAll(",", ",\n<br>"))
    <br><br>
  }
  <h1>File:</h1>
  @optionalFile.toString
  <br><br>
  @bootstrap3.linkbutton("Edit", routes.Submitting.edit(paper.id.value))
}
