@(title: String,
  submissionForm: Form[SubmissionForm],
  user: Option[String] = None,
  topics: List[models.entities.Topic] = models.entities.Topics.all)

@import helper.bootstrap3._
@import models.entities._

@authors = @{(0 to 2)}

@main(title, user) {
  @bootstrap3.form(
    routes.Submitting.make,
    'enctype -> "multipart/form-data") {
  
    @if(user.isEmpty) {
      <!-- Modal -->
      <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
              <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
              You need to login before sending a new submission.
              Choose a login method:
              <div>
                <a class="facebook login" href="#">
                  <object type="image/svg+xml" data="@routes.Assets.at("/images/facebook.svg")" class="logo"></object>
                  Facebook
                </a>
                <a class="google login" href="#">
                  <object type="image/svg+xml" data="@routes.Assets.at("/images/google.svg")" class="logo"></object>
                  Google
                </a>
                <a class="email login" href="#">
                  <object type="image/svg+xml" data="@routes.Assets.at("/images/email.svg")" class="logo"></object>
                  Email
                </a>
              </div>
              Please make sure that you have access to 
            </div>
            <!--
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            -->
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    }
    <fieldset>
      <legend>General Informations</legend>
      @bootstrap3.inputText(
        submissionForm("paper.title"),
        '_label -> "Paper title")
      @bootstrap3.inputRadioGroup(
        submissionForm("paper.format.value"), 
        PaperType.values.toSeq.map(f => f.toString -> f.toString.replace("_", " ")), 
        '_label -> "Type")
      @bootstrap3.inputText(
        submissionForm("paper.keywords"),
        '_label -> "Keywords")
      @bootstrap3.textarea(
        submissionForm("paper.abstrct"),
        '_label -> "Abstract",
        'placeholder -> "Abstract",
        'rows -> 5)
      @bootstrap3.inputCheckboxGroup(
        submissionForm,
        "topics",
        topics.toSeq.map( t => (t.id, t.name) ),
        '_label -> "Topics")
      @bootstrap3.inputFile(
        submissionForm("data"),
        '_label -> "File")
      @bootstrap3.select(
        submissionForm("nauthors"),
        authors.map(i => ((i+1).toString, (i+1).toString)),
        '_label -> "Number of authors",
        '_class -> "hidejs")
    </fieldset>
    @authors.map { i =>
      <fieldset class="hidejs" id="author@i">
        <legend>Author @(i+1)</legend>
        @bootstrap3.inputText(
          submissionForm(s"authors[$i].firstname"),
          '_label -> "First Name")
        @bootstrap3.inputText(
          submissionForm(s"authors[$i].lastname"),
          '_label -> "Last Name")
        @bootstrap3.inputText(
          submissionForm(s"authors[$i].organization"), 
          '_label -> "Organization")
        @bootstrap3.inputText(
          submissionForm(s"authors[$i].email"),
          '_label -> "Email")
      </fieldset>
    }
    </fieldset>
      <div class="form-group showjs"> 
        <label class="col-lg-2 control-label">Add/Remove Authors</label>
        <div class="col-lg-10">
        <span class="glyphicon glyphicon-plus-sign"></span>
        <span class="glyphicon glyphicon-minus-sign disabeled"></span>
        </div>
      </div>
    <fieldset>
    @bootstrap3.button("Submit")
  }
}
