@(paper: Paper,
  authors: List[Person],
  optionalFile: Option[File]
)

@import models.Mappers._
@import controllers.FileServing.linkToFile
@import helper.FieldConstructors.horizontalForm

<dl class="dl-horizontal">
  <legend>@paper.title</legend>
  <dt>Type</dt><dd>@paper.format.toString.replace("_", " ")</dd>
  <dt>Keywords</dt><dd>@paper.keywords</dd>
  <dt>Abstract</dt><dd>@paper.abstrct</dd>
  <dt>File</dt><dd>
    @optionalFile match {
      case Some(file) => {
        @linkToFile(file), @date(file.updatedAt)
      }
      case None => { - }
    }
  </dd>
  <dt>Authors</dt><dd>
  @authors.zip(1 to paper.nauthors).map { case (author, index) =>
    @author.name @if(index != paper.nauthors){ , }
  }
  </dd>
</dl>

